.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
}
.panel-footer{
    margin-top: 80px;
}
.link{
    color: #4C4CFF;
    margin-left: 8px;
}