.window{
    background-color: #1C1C21;
    color: #8585AD;
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-height: 200px;
    min-width: 250px;
    justify-content: center;
    border-radius: 10px;
    box-shadow:0 0 20px 0 #f2f2f3;

}
.title{
    margin: 0 auto;
    min-width: 100px;
}
.message{
    margin: 0 auto;
    padding-top: 40px;
    min-width: 100px;
}