.main{
    position: relative;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.sidemenu-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;

}

.sidemenu-footer{
    max-width: 319px;
    margin-top: 80px;
    line-height: 24px; /* 150% */
}
.navlink{
    width: 320px;
    height: 64px;
    display: flex;
    align-items: center;
}

