.content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1C21;
    width: 720px;
    opacity: 1;
    border-radius: 40px;
}
.order-image{
    margin: 60px 0 70px;
    width:110px;
    height:110px;

}