.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.title{
    margin: 0 auto 0 0;
}
.section{
    display: flex;
    column-gap: 40px;
}
.column{
    max-width: 600px;
    width: 100%;
    max-height: calc(100vh - 40px - 92px - 80px);
    display: flex;
    flex-direction: column;

}
.tabs{
    display: flex;
}