.components{
    max-height: calc(100vh - 370px);
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow-y: scroll;
    box-sizing: border-box;
}
.category{
    display: flex;
    flex-direction: column;
}
.title{
    margin: 0 auto 0 0;
    width: 100%;
}
.ingredients{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ingredient{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    box-sizing: border-box;
}
.price{
    display: flex;
    justify-items: center;
    column-gap: 8px;
}
.ingredient_name{
    margin: 0 auto;
    max-width: 270px;
    text-align: center;
    padding-top: 4px;

}
.image{
    width: 240px;
    height: 120px;
}