.components{
    max-height: calc(100vh - 370px);
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    overflow-y: scroll;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
}
.category{
    display: flex;
    flex-direction: column;


}
.title{
    margin: 0 auto 0 0;
    width: 100%;
}
.ingredients{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.ingredient{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    box-sizing: border-box;
    transition: box-shadow 0.5s ease;

}
.ingredient:hover{
    cursor: pointer;
    box-shadow:  0 0 20px 0 rgba(138, 43, 226, 0.43) ;
    border-radius: 10px;
}
.cursor_grab{
    cursor: grab;
}
.price{
    display: flex;
    justify-items: center;
    column-gap: 8px;
}
.ingredient_name{
    margin: 0 auto;
    max-width: 270px;
    text-align: center;
    padding-top: 4px;

}
.image{
    width: 240px;
    height: 120px;
}