.section{
    box-sizing: border-box;
    border-radius: 40px;
    margin: 0  auto ;
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #131316;
    padding: 40px;
}
.order-number{
    text-align: center;
    margin-bottom: 40px;
}
.order-status{
    color: #00CCCC;
    margin-bottom: 60px;
    margin-top: 12px;
}